materijali sa osnovnih studija/4. godina/Projektovanje baza podataka/vezbe/cas_11/xquery_momir/primer6.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="list">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="person" type="personType"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:complexType name="personType">
  <xs:all>
    <xs:element name="fname" type="xs:string"/>
    <xs:element name="lname" type="xs:string"/>
  </xs:all>
  <xs:attribute name="person_id" type="xs:int"/>
</xs:complexType>

</xs:schema>